{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": ["airbnb-base", "prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "request": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "func-names": "off",
        "global-require": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "warn",

        "import/newline-after-import": "off",
        "import/no-dynamic-require": "off"
    }
}
